.setup-avatar {
  width: 100%;
  height: 400px;
}

.background-image {
  width: 100%;
  height: 200px;
  background-color: teal;
  overflow: hidden;
}

.avatar-image {
  width: 150px;
  height: 150px;
  position: relative;
  z-index: 99;
  top: -75px;
  border-radius: 50%;
  margin-left: 10px;
}

.setup-profile {
  position: absolute;
  z-index: 100;
  top: 300px;
  left: 600px;
}

.information {
  width: 70%;
  height: 120px;
  margin-right: auto;
  position: relative;
  top: -70px;
  left: 20px;
}

.my-name {
  font-weight: bold;
  font-size: 25px;
}

.ant-tabs-nav-wrap {
  display: flex;
  justify-content: center;
}
